.body {
    font-family: Helvetica, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    height: 96.5vh;
}

.card {
    display: flex;
    justify-content: center;
    background-color: #444444;
    width: 1127px;
    height: 595px;
    border-radius: 30px;
}

.card-info {
    height: 100%;
    width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card-info__employee-info {
    margin-top: 12.5%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.card-info__avatar {
    width: 180px;
    margin-top: 23px;
    margin-bottom: 8px;
    border-radius: 50%;
    box-shadow: 12px 12px 0 grey;
}

.card-info__text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-info__header {
    margin-top: 7px;
    text-align: center;
    font-size: 38px;
    font-weight: bold;
}

.card-info__job-title {
    margin-top: 7px;
    font-size: 20px;
}

.card-info__menu {
    display: flex;
    width: 93px;
    justify-content: space-between;
    align-items: center;
}

.card-info__menu-icon {
    width: 24px;
    border-radius: 50%;
}

@keyframes button-click {
    50% {
        background-color: #292828;
        width: 190px;
        height: 52px;
        font-size: 19px;
    }
}

.card-info__download {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid white;
    text-decoration: none;
    margin-bottom: 10px;
    color: white;
    width: 164px;
    height: 39px;
    border-radius: 40px;
    font-size: 17px;
    transition: padding 0.5s, background-color 0.5s, font-size 0.5s;
}

.card-info__download:hover {
    background-color: #222222;
    transition: background-color 0.5s;
}

.card-info__download:active {
    animation-name: button-click;
    animation-duration: 0.2s;
}

.card-plate {
    height: 100%;
    width: 747px;
    border-radius: 30px;
    background-color: #222222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-plate__title {
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-plate__title-header {
    font-size: 62px;
    font-weight: bold;
}

.card-plate__title-job {
    margin-top: 6px;
    margin-bottom: -5px;
    font-size: 22px;
}

.card-info__footer {
    font-size: 14px;
    margin-bottom: 15px;
}
