.body {
    font-family: Helvetica, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    height: 96.5vh;
}

.card {
    display: flex;
    justify-content: center;
    background-color: #444444;
    width: 1127px;
    height: 595px;
    border-radius: 30px;
}

.main-info {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.employee-info {
    margin-top: 12.5%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    width: 100px;
    justify-content: space-between;
    align-items: center;
}

@keyframes button-click {
    50% {
        background-color: #292828;
        width: 190px;
        height: 52px;
        font-size: 19px;
    }
}

.download {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid white;
    text-decoration: none;
    color: white;
    width: 168px;
    height: 46px;
    border-radius: 40px;
    font-size: 17px;
    transition: padding 0.5s, background-color 0.5s, font-size 0.5s;
}

.download:hover {
    background-color: #222222;
    transition: background-color 0.5s;
}

.download:active {
    animation-name: button-click;
    animation-duration: 0.2s;
}

.main_plate {
    height: 100%;
    width: 70%;
    border-radius: 30px;
    background-color: #222222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.avatar {
    width: 180px;
    margin-bottom: 8%;
    border-radius: 50%;
    box-shadow: 12px 12px 0 grey;
}

.employee-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

.explanation {
    font-size: 20px;
}

.icon {
    width: 28px;
    border-radius: 50%;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer {
    font-size: 14px;
    margin-bottom: 5%;
}

.main_header {
    font-size: 62px;
    font-weight: bold;
}

.main_job {
    font-size: 22px;
}