body {
    font-family: Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    height: 96.5vh;
}

#card {
    display: flex;
    justify-content: center;
    background-color: #444444;
    width: 80%;
    height: 95%;
    border-radius: 3vw;
}

#main-info {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#employee-info {
    margin-top: 12.5%;
    height: 64%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#menu {
    display: flex;
    width: 45%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@keyframes button-click {
    50% {
        background-color: #292828;
        padding: 2.5% 10% 2.5% 10%;
        font-size: 2.1vw;
    }
}

#download {
    border: 0.5vh solid white;
    padding: 2% 8% 2% 8%;
    color: white;
    background-color: #444444;
    border-radius: 15vh;
    font-size: 1.8vw;
    transition: padding 0.5s, background-color 0.5s, font-size 0.5s;
}

#download:hover {
    background-color: #222222;
    padding: 3% 12% 3% 12%;
    font-size: 2.3vw;
    transition: padding 0.5s, background-color 0.5s, font-size 0.5s;
}

#download:active {
    animation-name: button-click;
    animation-duration: 0.2s;
}

#main_plate {
    color: white;
    height: 100%;
    width: 70%;
    border-radius: 3vw;
    background-color: #222222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#avatar {
    width: 68%;
    margin-bottom: 3%;
    border-radius: 50%;
    box-shadow: 2vh 2vh 4vh black;
}

.employee-text {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    font-size: 3vw;
    font-weight: bold;
}

.explanation {
    font-size: 1.7vw;
}

a {
    width: 28%;
}

.icon {
    width: 100%;
    border-radius: 50%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    font-size: 1.7vw;
    color: white;
    margin-bottom: 5%;
}

#main_header {
    font-size: 6vw;
    font-weight: bold;
}

#main_job {
    font-size: 3vw;
}